.ipynb_checkpoints
.vscode
Dataset
.ipynb_checkpoints
__pycache__
generator.py
muell.ipynb
logs
training_checkpoints
muell.ipynb
waves.tfrecords
new_waves.tfrecords
my_final_wave.tfrecords
small_waves.tfrecords